@value mediaQuery from '../common/size.css';

.home {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: calc(100vh - 80px);
  padding: 1.5rem 0;
}

/* Desktop */
@media screen and (min-width: mediaQuery) {
  .home {
    padding: 2rem 0;
  }
}
