@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&display=swap");
@value airBlack from '@modules/common/colors.css';
@value mediaQuery from '@modules/common/size.css';

/* Reset CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: airBlack;
}

ul,
li {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

button:focus,
button:active,
input:focus,
input:active {
  outline: none;
  box-shadow: none;
}

/* Layout - mobile */
@media screen and (max-width: mediaQuery) {
  .container {
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
  }
}
